.card {
  max-width: 645px;
  min-width: 645px;
  margin-top: 20px;
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.media {
  height: 0;;
  padding-top: 56.25%; 
}

.expand {
  margin-left: auto;
}

